<div class="panel panel-info">
  <div class="panel-heading"><%= t('activerecord.models.event') %></div>
  <div class="panel-body">
    <%= simple_form_for([:admin, @event]) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :competition_id, collection: Competition.all %>
          <%= f.input :description %>
          <!--<%= f.input :cover %>-->
          <%= f.input :status, collection: Competition::STATUS, prompt: 1 %>
          <%= f.input :team_min_num %>
          <%= f.input :team_max_num %>
          <!-- start -->
          <!--<div class="row">-->
            <!--<div class="form-group datetime optional col-md-6 required" data-date-merge>-->
              <!--<label class="datetime optional control-label">报名开始时间</label>-->

              <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                  <!--<span>日期</span>-->
                  <!--<input data-date-merge-date value="<%= @event.apply_start_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">-->
                <!--</div>-->
                <!--<div class="col-md-6 bootstrap-timepicker">-->
                  <!--<span>时间</span>-->
                  <!--<input data-date-merge-time value="<%= @event.apply_start_time.try(:strftime, '%H:%M') %>" data-control="timeForm" class="datetime optional form-control"/>-->
                <!--</div>-->
              <!--</div>-->
              <!--<input data-date-merge-result type="hidden" name="competition[apply_start_time]" value="<%= @event.apply_start_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>-->
            <!--</div>-->
            <!--<div class="form-group datetime optional col-md-6" data-date-merge>-->
              <!--<label class="datetime optional control-label">报名结束时间</label>-->

              <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                  <!--<span>日期</span>-->
                  <!--<input data-date-merge-date value="<%= @event.apply_end_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">-->
                <!--</div>-->
                <!--<div class="col-md-6 bootstrap-timepicker">-->
                  <!--<span>时间</span>-->
                  <!--<input data-date-merge-time value="<%= @event.apply_end_time.try(:strftime, '%H:%M') %>" data-control="timeForm" class="datetime optional form-control"/>-->
                <!--</div>-->
              <!--</div>-->
              <!--<input data-date-merge-result type="hidden" name="competition[apply_end_time]" value="<%= @event.apply_end_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>-->
            <!--</div>-->
            <!--<div class="form-group datetime optional col-md-6" data-date-merge>-->
              <!--<label class="datetime optional control-label">比赛开始时间</label>-->

              <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                  <!--<span>日期</span>-->
                  <!--<input data-date-merge-date value="<%= @event.start_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">-->
                <!--</div>-->
                <!--<div class="col-md-6 bootstrap-timepicker">-->
                  <!--<span>时间</span>-->
                  <!--<input data-date-merge-time value="<%= @event.start_time.try(:strftime, '%H:%M') %>" data-control="timeForm" class="datetime optional form-control"/>-->
                <!--</div>-->
              <!--</div>-->
              <!--<input data-date-merge-result type="hidden" name="competition[start_time]" value="<%= @event.start_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>-->
            <!--</div>-->
            <!--<div class="form-group datetime optional col-md-6" data-date-merge>-->
              <!--<label class="datetime optional control-label">比赛结束时间</label>-->

              <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                  <!--<span>日期</span>-->
                  <!--<input data-date-merge-date value="<%= @event.end_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">-->
                <!--</div>-->
                <!--<div class="col-md-6 bootstrap-timepicker">-->
                  <!--<span>时间</span>-->
                  <!--<input data-date-merge-time value="<%= @event.end_time.try(:strftime, '%H:%M:%S') %>" data-control="timeForm" class="datetime optional form-control"/>-->
                <!--</div>-->
              <!--</div>-->
              <!--<input data-date-merge-result type="hidden" name="competition[end_time]" value="<%= @event.end_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>-->
            <!--</div>-->
          <!--</div>-->
          <!-- end -->
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>








