<div class="container">
  <h2 class="page-header">
    登录
  </h2>

  <div class="row">
    <div class="col-md-4 col-sm-6">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field form-group">
            <label for="user_login" class="control-label">账号:</label><br/>
            <%= f.text_field :login, class: 'form-control', placeholder: '邮箱/手机号/昵称' %>
          </div>

          <div class="field form-group">
            <label for="user_password" class="control-label">密码:</label><br/>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <label for="user_remember_me">记住我</label>

                <div class="pull-right">
                  <a href="<%= forget_password_accounts_path %>">忘记密码?</a> &nbsp;<a href="<%= new_user_registration_path %>">注册</a>
                </div>
              </div>
          <% end -%>

          <div class="actions form-group form-group-lg">
            <%= f.submit class: 'btn btn-primary btn-block', value: '登录豆姆' %>
          </div>


      <% end %>
    </div>
  </div>

</div>
