<style type="text/css">
    textarea, input[type="text"] {
        padding: 0 4px;
    }
</style>
<div class="panel panel-info">
  <div class="panel-heading"><%= t('activerecord.models.creative_activity') %></div>
  <div class="panel-body">
    <%= simple_form_for([:admin, @activity]) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.hidden_field :user_id, value: 0 %>
          <%= f.input :name %>
          <%= f.input :event_id, collection: Event.where(status: 0) %>
          <div class="form-group">
            <label for="exampleInputFile"><abbr title="必填字段">*</abbr> 海报</label>
            <%= f.file_field :cover, :label => '海报' %>
            <%= f.hidden_field :cover_cache %>
            <p class="help-block">格式：jpg jpeg gif png，尺寸：800x800</p>
          </div>
          <label class="select required control-label" for="creative_activity_description"><abbr title="必填字段">*</abbr>内容:</label>
          <%= f.kindeditor :description, :window_onload => true, :owner_id => @activity.id, :items => ['source', 'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'media', 'insertfile', 'baidumap', 'link', 'unlink', 'quickformat', 'preview', 'fullscreen'] %>

          <!--<%= f.input :likes_count %>-->
          <!--<%= f.input :expert_score %>-->
          <!--<%= f.input :last_score %>-->
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>
<script type="text/javascript" src="/assets/kindeditor.js"></script>