<%= simple_form_for(@creative_activity, :html => {:multipart => true}) do |f| %>
    <%= f.error_notification %>
    <% if @creative_activity.errors.any? %>
        <div id="error_explanation">
          <% @creative_activity.errors[:cover].each do |msg| %>
              <div class="alert alert-danger"><%= msg %></div>
          <% end %>

        </div>
    <% end %>

    <div class="form-inputs">
      <div class="form-group">
        <label for="exampleInputFile"><abbr title="必填字段">*</abbr>作品名称</label>
        <%= f.input :name, placeholder: '请输入作品名称' %>
      </div>
      <hr/>

      <% if @creative_activity.cover? %>
          <div class="form-group">
            <%= image_tag(@creative_activity.cover_url(:middle), class: 'img-thumbnail') %>
          </div>
      <% end %>
      <div class="form-group">
        <label for="exampleInputFile"><abbr title="必填字段">*</abbr>海报</label>
        <br/>
        <label class="btn btn-warning" for="creative_activity_cover">上传海报</label>
        <%= f.file_field :cover, class: 'hide' %>
        <%= f.hidden_field :cover_cache %>
        <p class="help-block">格式：jpg jpeg gif png，尺寸：800x800</p>
      </div>
      <hr/>

      <% if @creative_activity.file? %>
          <div class="form-group">
            <%= @creative_activity.file_url %>
          </div>
      <% end %>

      <div class="form-group">
        <label for="exampleInputFile">附件</label>
        <br/>
        <label class="btn btn-warning" for="creative_activity_file">上传附件</label>
        <%= f.file_field :file, class: 'hide' %>
        <p class="help-block">格式：doc docx xls xlsx ppt htm html txt zip rar gz bz2</p>
      </div>
      <hr/>

      <div class="form-group">
        <%= @creative_activity.media_identifier %>
      </div>

      <div class="form-group">
        <label for="exampleInputFile">音频</label>
        <br/>
        <label class="btn btn-warning" for="creative_activity_media">上传音频</label>
        <%= f.file_field :media, class: 'hide' %>
        <%= f.hidden_field :media_cache %>
        <p class="help-block">格式：swf flv mp3 wav wma wmv mid avi mpg asf rm rmvb mp4</p>
      </div>
      <hr/>


      <% if current_user.present? %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
      <% end %>
      <label class="kindeditor optional control-label" for="creative_activity_description">描述</label>
      <%= f.kindeditor :description, :window_onload => true, :owner_id => @creative_activity.id, :items => ['source', 'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'media', 'insertfile', 'baidumap', 'link', 'unlink', 'quickformat', 'preview', 'fullscreen'] %>
    </div>
    <hr/>
    <div class="form-group text-center">
      <input class="btn btn-warning" type="submit" value="保存作品信息"/>
    </div>
<% end %>
