<div class="panel panel-info">
  <div class="panel-body">
    <%= simple_form_for(@creative_activity) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name %>

          <% if @creative_activity.cover? %>
              <div class="form-group">
                <%= image_tag(@creative_activity.cover_url(:middle), class: 'img-thumbnail') %>
              </div>
          <% end %>
          <div class="form-group">
            <label for="exampleInputFile">封面</label>
            <%= f.file_field :cover %>
            <%= f.hidden_field :cover_cache %>
            <p class="help-block">格式：jpg jpeg gif png，尺寸：800x800</p>
          </div>

          <% if current_user.present? %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
          <% end %>
          <label class="kindeditor optional control-label" for="creative_activity_description">描述</label>
          <%= f.kindeditor :description, :window_onload => true, :owner_id => @creative_activity.id, :items => ['source', 'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'media', 'insertfile', 'baidumap', 'link', 'unlink', 'quickformat', 'fullscreen'] %>
        </div>
        <div class="form-actions">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>