<div class="container">
  <h1 class="page-header">
    编辑<%= t('activerecord.models.creative_activity') %>
    <small class="pull-right">
      <%= link_to edit_creative_activity_path(@creative_activity), title: '编辑', class: 'btn btn-default' do %>
          编辑
      <% end %>

      <a href="<%= creative_activities_path %>" title="列表" class="btn btn-default">
        列表</a>
    </small>
  </h1>
  <% if @creative_activity.present? %>
      <h1 class="page-header">
        <%= @creative_activity.name %>
      </h1>

      <p>描述：<%= @creative_activity.description.html_safe %></p>


      <h5 class="page-header"></h5>

  <% end %>

</div>

