<div id="news">
  <div class="floor">
    <div id="nav" class="nav-v2">
      <%= render 'layouts/nav_menu' %>
    </div>
    <div class="container-content">
      <div class="news-banner">
        <div style="height: 457px" class="swiper-container">
          <div class="swiper-wrapper">
            <div style="background: #ff0000" class="swiper-slide"></div>
            <div style="background: #0000ff" class="swiper-slide"></div>
            <div style="background: #00ff00" class="swiper-slide"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <div class="title">
          第一届豆姆机器人大赛
        </div>
        <div class="thumb-menu">
          <ul class="items">
            <li class="item active">
              <img src="/images/news.jpg" alt=""/>
            </li>
            <li class="item">
              <img src="/images/news.jpg" alt=""/>
            </li>
            <li class="item">
              <img src="/images/news.jpg" alt=""/>
            </li>
          </ul>
        </div>
      </div>
      <div class="moment">
        <div class="moment-item">
          <div class="pic">
            <img src="/images/news.jpg" alt=""/>
          </div>
          <div class="dec">
            <p class="t-14">冰壶大赛精彩瞬间</p>
          </div>
        </div>
        <div class="moment-item">
          <div class="pic">
            <img src="/images/news.jpg" alt=""/>
          </div>
          <div class="dec">
            <p class="t-14">冰壶大赛精彩瞬间</p>
          </div>
        </div>
        <div class="moment-item">
          <div class="pic">
            <img src="/images/news.jpg" alt=""/>
          </div>
          <div class="dec">
            <p class="t-14">冰壶大赛精彩瞬间</p>
          </div>
        </div>
        <div class="moment-item">
          <div class="pic">
            <img src="/images/news.jpg" alt=""/>
          </div>
          <div class="dec">
            <p class="t-14">冰壶大赛精彩瞬间</p>
          </div>
        </div>
        <div class="moment-item">
          <div class="pic">
            <img src="/images/news.jpg" alt=""/>
          </div>
          <div class="dec">
            <p class="t-14">冰壶大赛精彩瞬间</p>
          </div>
        </div>
        <div class="moment-item">
          <div class="pic">
            <img src="/images/news.jpg" alt=""/>
          </div>
          <div class="dec">
            <p class="t-14">冰壶大赛精彩瞬间</p>
          </div>
        </div>
      </div>
      <div class="video">
        <div class="title">
          <p class="t-18">影像记录</p>
        </div>
        <div class="content">
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
        </div>
      </div>
      <div class="new-list">
        <div class="title">
          <p class="t-18">新闻列表</p>
        </div>
        <div class="content">


          <% @news.each do |news| %>
              <%= link_to news_path(news), title: '查看新闻' do %>
                  <div class="item">
                    <div class="pic">
                      <%= image_tag(news.cover_url(:middle)) %>
                    </div>
                    <div class="dec">
                      <p class="t-18 blue"><%= news.name %>
                        <span class="t-12 col-r grey"><%= news.created_at.try(:strftime, '%Y-%m-%d') %></span>
                      </p>

                      <p class="t-14"><%= "#{news.content.html_safe.at(0..100)}..." %></p>
                    </div>
                  </div>
              <% end %>
          <% end %>

          <nav class="text-center">
            　<%= paginate @news %>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

