<div id="news">
  <div class="floor">
    <div id="nav" class="nav-v2">
      <%= render 'layouts/nav_menu' %>
    </div>
    <div class="container-content">
      <div class="show-news">
        <div class="new-main">
          <div class="title">
            <p class="t-24 blue"><%= @new.name %>
              <span class="t-12 grey col-r"><%= @new.created_at.try(:strftime, '%Y-%m-%d') %></span></p>
          </div>
          <div class="content text-center">
            <%= image_tag(@new.cover_url(:large), :class => 'pull-down-10') %>
            <p class="t-14 text-paragraph pull-down-20"> <%= @new.content.html_safe %></p>

            <!--<p class="t-14 text-paragraph pull-down-20">执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。</p>-->
          </div>
        </div>
        <div class="sidebar">
          <div class="record">
            <div class="title">
              <p class="t-14">影像记录</p>
            </div>
            <div class="content">
              <div class="item">
                <div class="pic">
                  <img src="/images/news.jpg" alt=""/>
                </div>
                <div class="dec">
                  <div class="play-icon text-center">
                    <i class="t-14 fa fa-play"></i>
                  </div>
                  <p class="t-14">冰壶大赛精彩瞬间</p>
                </div>
              </div>
              <div class="item">
                <div class="pic">
                  <img src="/images/news.jpg" alt=""/>
                </div>
                <div class="dec">
                  <div class="play-icon text-center">
                    <i class="t-14 fa fa-play"></i>
                  </div>
                  <p class="t-14">冰壶大赛精彩瞬间</p>
                </div>
              </div>
              <div class="item">
                <div class="pic">
                  <img src="/images/news.jpg" alt=""/>
                </div>
                <div class="dec">
                  <div class="play-icon text-center">
                    <i class="t-14 fa fa-play"></i>
                  </div>
                  <p class="t-14">冰壶大赛精彩瞬间</p>
                </div>
              </div>
              <div class="item">
                <div class="pic">
                  <img src="/images/news.jpg" alt=""/>
                </div>
                <div class="dec">
                  <div class="play-icon text-center">
                    <i class="t-14 fa fa-play"></i>
                  </div>
                  <p class="t-14">冰壶大赛精彩瞬间</p>
                </div>
              </div>
            </div>
          </div>
          <div class="news-recommend">
            <div class="title">
              <p class="t-14">新闻列表</p>
            </div>
            <div class="content">

              <% @news.each do |new| %>
                  <div class="item">
                    <div class="pic">
                      <%= image_tag(new.cover_url(:middle)) %>
                    </div>
                    <div class="dec">
                      <p class="t-18 blue"><%= new.name %></p>

                      <p class="t-14"><%= "#{new.content.html_safe.at(0..20)}..." if new.content.length > 20 %></p>
                    </div>
                  </div>
              <% end %>


              <!--<div class="item">-->
                <!--<div class="pic">-->
                  <!--<img src="/images/news.jpg" alt=""/>-->
                <!--</div>-->
                <!--<div class="dec">-->
                  <!--<p class="t-18 blue">ROBODOU机器人大赛</p>-->

                  <!--<p class="t-14">为学校提供线上以及线下的机器人教学整体解决方案。</p>-->
                <!--</div>-->
              <!--</div>-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>