<style type="text/css">
    .user-comp-list {
        padding: 5% 20% 5% 20%;
        min-height: 300px
    }

    .user-comp-item {
        height: 138px;
    }

    .user-comp-item:hover {
        border-right: 2px solid deepskyblue;
    }
</style>
<div class="floor" id="user">
  <div id="nav" class="nav-v2 container-layer">
    <%= render 'layouts/nav_menu' %>
  </div>
  <div class="container-content">
    <div id="user-info">
      <div class="menu">
        <%= render 'user/menu' %>
      </div>
      <div class="content">
        <div class="user-comp-list">
          <div class="competitions">
            <% @user_events.each do |t_u| %>
                <div class="competition-item">
                  <div class="item-pic">
                    <img src="/images/competition-item01.jpg" alt="机器人冰壶赛"/>
                  </div>
                  <div class="item-dec">
                    <a href="<%= user_comp_path %>/<%= t_u.event_id %>" class="t-22 blue pull-down-10"><%= t_u.event.name %></a>

                    <p class="t-14 pull-down-10">比赛时间： <%= t_u.event.start_time.try(:strftime, '%Y-%m-%d %H:%M') %></p>

                    <p class="t-14 pull-down-10">我的身份 : <%= t_u.team.user_id == current_user.id ? '队长' : '队员' %></p>
                  </div>
                </div>
            <% end %>
          </div>
          <nav class="text-center">
            <%= paginate @user_events %>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


