<style type="text/css">
    .user-comp-list {
        padding: 5% 20% 5% 20%;
        min-height: 300px
    }

    .user-comp-item {
        height: 138px;
    }

    .user-comp-item:hover {
        border-right: 2px solid deepskyblue;
    }
</style>
<div class="floor" id="user">
  <div id="nav" class="nav-v2 container-layer">
    <%= render 'layouts/nav_menu' %>
  </div>
  <div class="container-content">
    <div id="user-info">
      <div class="menu">
        <div class="menu-item clearfix">
          <%= simple_form_for(current_user, html: {id: 'form_change_avatar', multipart: true}, url: user_update_avatar_path, method: :post) do |f| %>
              <div class="avatar">
                <%= image_tag(current_user.avatar_url(:middle), class: 'avatar-img') %>
              </div>
              <label class="edit-avatar" for="user_avatar">修改头像</label>

              <div class="username">
                <div class="edit" data-edit="text" data-name="user[nickname]" title="点击编辑">
                  <%= current_user.nickname %>
                </div>
                <input type="hidden" name="user[nickname]" value="<%= current_user.nickname %>"/>
              </div>
              <div class="clearfix"></div>
              <div class="edit-plus">
                <%= f.file_field :avatar %>
                <%= f.submit class: 'btn-user-update', value: '更新个人信息' %>
              </div>
          <% end %>
        </div>
        <%= render 'user/menu' %>
      </div>
      <div class="content">
        <div class="user-comp-list">
          <div class="competitions">
            <% @user_events.each do |t_u| %>
                <div class="competition-item">
                  <div class="item-pic">
                    <img src="/images/competition-item01.jpg" alt="机器人冰壶赛"/>
                  </div>
                  <div class="item-dec">
                    <a href="<%= user_comp_path %>/<%= t_u.event_id %>" class="t-22 blue pull-down-10"><%= t_u.event.name %></a>

                    <p class="t-14 pull-down-10">比赛时间： <%= t_u.event.start_time.try(:strftime, '%Y-%m-%d %H:%M') %></p>

                    <p class="t-14 pull-down-10">我的身份 : <%= t_u.team.user_id == current_user.id ? '队长' : '队员' %></p>
                  </div>
                </div>
                <div class="competition-item">
                  <div class="item-pic">
                    <img src="/images/competition-item01.jpg" alt="机器人冰壶赛"/>
                  </div>
                  <div class="item-dec">
                    <a href="<%= user_comp_path %>/<%= t_u.event_id %>" class="t-22 blue pull-down-10"><%= t_u.event.name %></a>

                    <p class="t-14 pull-down-10">比赛时间： <%= t_u.event.start_time.try(:strftime, '%Y-%m-%d %H:%M') %></p>

                    <p class="t-14 pull-down-10">我的身份 : <%= t_u.team.user_id == current_user.id ? '队长' : '队员' %></p>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


