<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 hidden-xs">
      <%= render 'user/menu' %>
    </div>
    <div class="col-xs-12 col-sm-9">
      <h1 class="page-header">
        我的账户
      </h1>

      <%= render 'user/tab' %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= link_to user_profile_path do %>
              <%= image_tag(current_user.avatar_url(:middle), class: 'img-thumbnail') %>
          <% end %>
        </div>
        <ul class="list-group">

          <li class="list-group-item">
            昵称：<a href=""><%= current_user.nickname %></a>
          </li>

          <li class="list-group-item">
            最近登录时间：<%= current_user.last_sign_in_at.try(:strftime, "%Y-%m-%d %H:%M:%S") %>
          </li>
          <li class="list-group-item">
            最近登录IP：<%= current_user.last_sign_in_ip %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>