<div class="floor" id="user">
  <div id="nav" class="nav-v2 container-layer">
    <%= render 'layouts/nav_menu' %>
  </div>
  <div class="container-content">
    <div id="user-info">
      <div class="menu">
        <div class="menu-item">
          <%= simple_form_for(current_user, html: {id: 'form_change_avatar', multipart: true}, url: user_update_avatar_path, method: :post) do |f| %>
              <div class="avatar">
                <%= image_tag(current_user.avatar_url(:middle), class: 'avatar-img') %>
              </div>
              <div class="edit-plus">
                <%= f.file_field :avatar %>
                <label for="">昵称：<input type="text" name="user[nickname]" value="<%= current_user.nickname %>"/></label>
                <label class="edit-avatar" for="user_avatar">点击修改头像</label>
                <%= f.submit class: 'btn-user-update', value: '更新个人信息' %>
              </div>
          <% end %>
        </div>
        <%= render 'user/menu' %>
      </div>

      <div class="content" style="height: 350px">

        <div class="user-comp-list">
          <% @user_scores.each do |t_u| %>
              <%= t_u %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>


