<div class="floor" id="register">
  <div id="nav" class="nav-v2 container-layer">
    <div class="container">
      <a href="/" class="logo-orange col-l"></a>
      <div class="nav-menu col-r">
        <ul class="items">
          <li class="item">
            <a href="/">首页</a>
          </li>
          <li class="item">
            <a href="">比赛</a>
          </li>
          <li class="item">
            <a href="">新闻</a>
          </li>
          <li class="item">
            <a href="">论坛</a>
          </li>
          <li class="item">
            <a href="">关于</a>
          </li>
          <li class="item">
            <a href="">联系</a>
          </li>
        </ul>
        <div class="login-menu col-r">
          <% if user_signed_in? %>
              <%= current_user.nickname %>
              <%= link_to destroy_user_session_path, method: :delete, data: {confirm: '确认退出登录吗?'}, title: '退出登录', :class => '' do %>
                  退出
              <% end %>
          <% else %>
              <%= link_to '注册', new_user_registration_path, :class => 'robodou-btn btn-register' %>
              <%= link_to '登录', new_user_session_path, :class => 'robodou-btn btn-login' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="register-content" class="">
    <div class="passport">
      <div class="passport-title t-22 text-center">
        重置密码
      </div>
      <div class="passport-content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div class="field form-group">
              <%= f.label :password, '新密码', class: 'label-control' %><br/>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: '请设置6-20位的新密码' %>
            </div>

            <div class="field form-group">
              <%= f.label :password_confirmation, '确认新密码', class: 'control-label' %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: '请重复输入新密码' %>
            </div>

            <div class="actions">
              <%= f.submit class: 'btn-forget-confirm', value: '重置密码' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>