<div class="floor" id="register">
  <div id="nav" class="nav-v2 container-layer">
    <div class="container">
      <a href="/" class="logo-orange col-l"></a>

      <div class="nav-menu col-r">
        <ul class="items">
          <li class="item">
            <a href="/">首页</a>
          </li>
          <li class="item">
            <a href="<%= introduction_index_path %>">比赛</a>
          </li>
          <li class="item">
            <a href="">新闻</a>
          </li>
          <li class="item">
            <a href="">论坛</a>
          </li>
          <li class="item">
            <a href="">关于</a>
          </li>
          <li class="item">
            <a href="">联系</a>
          </li>
        </ul>
        <div class="login-menu col-r">
          <% if user_signed_in? %>
              <%= current_user.nickname %>
              <%= link_to destroy_user_session_path, method: :delete, data: {confirm: '确认退出登录吗?'}, title: '退出登录', :class => '' do %>
                  退出
              <% end %>
          <% else %>
              <%= link_to '注册', new_user_registration_path, :class => 'robodou-btn btn-register' %>
              <%= link_to '登录', new_user_session_path, :class => 'robodou-btn btn-login' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="register-content" class="">
    <div class="passport">
      <div class="passport-title t-22 text-center">
        重置密码
      </div>
      <div class="passport-content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
            <div class="field form-group">
              <label for="user_email" class="control-label">邮箱:</label><br/>
              <%= f.email_field :email, autofocus: true, placeholder: '请输入邮箱', class: 'form-control' %>
              <span id="" class="" style="right: 8px;bottom: 8px;position: absolute;color: darkred">
                <% if resource.errors[:email].present? %>
                <ul>
                  <% resource.errors[:email].each do |msg| %>
                      <li>该邮箱<%= msg %></li>
                  <% end %>
                </ul>
                <% end %>
              </span>
            </div>

            <div class="actions">
              <%= f.submit class: 'btn-forget-send', value: '发送重置邮件' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>