<h1 class="page-header">
  显示<%= t('activerecord.models.district') %>
  <small class="pull-right">
    <a href="<%= new_admin_district_path %>" title="新建区县" class="btn btn-default">
      <i class="icon-plus icon-only"></i></a>
    <a href="<%= edit_admin_district_path(@district) %>" title="编辑" class="btn btn-default">
      <i class="icon-edit icon-only"></i></a>
    <a href="<%= admin_districts_path %>" title="列表" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<% if notice %>
    <div class="alert alert-success"><%= notice %></div>
<% end %>
<div class="panel panel-info">
  <div class="panel-heading">
    <%= t('activerecord.models.district') %>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <h4><%= t('simple_form.labels.defaults.name') %>:</h4>

      <%= @district.name %>
    </li>
  </ul>
</div>