<h1 class="page-header">
  <%= t('activerecord.models.user') %>列表
  <small class="pull-right">
    <a href="<%= new_admin_user_path %>" class="btn btn-default">
      <i class="icon-plus icon-only"></i></a>
    <a href="#" class="btn btn-default btn-search-toggle">
      <i class="icon-search icon-only"></i>
    </a>
  </small>
</h1>
<div class="widget-box form-search-toggle <%= params[:field].present? && params[:keyword].present? ? 'show' : 'show' %>">
  <div class="widget-header widget-header-small">
    <h5 class="lighter">搜索</h5>
  </div>
  <div class="widget-body">
    <div class="widget-main">
      <form class="form" role="form" method="get">
        <div class="input-group" data-search="field">
          <div class="input-group-btn">
            <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
              <span data-search-text><%= t('simple_form.labels.defaults.nickname') %></span>
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li data-search-option="nickname" ><a><%= t('simple_form.labels.defaults.nickname') %></a></li>
              <li data-search-option="mobile" ><a><%= t('simple_form.labels.defaults.mobile') %></a></li>
              <li data-search-option="email" ><a><%= t('simple_form.labels.defaults.email') %></a></li>
              <li data-search-option="username" ><a><%= t('simple_form.labels.defaults.username') %></a></li>
              <li data-search-option="id" ><a>ID</a></li>
            </ul>
          </div>
          <input type="hidden" name="field" value="<%= params[:field].present? ? params[:field] : 'nickname' %>"/>
          <input placeholder="输入关键字，按回车键提交" value="<%= params[:keyword] %>" name="keyword" type="text" class="form-control" aria-label="...">
        </div>
      </form>
    </div>
  </div>
</div>


<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th><%= t('simple_form.labels.defaults.nickname') %></th>
    <th><%= t('simple_form.labels.defaults.mobile') %></th>
    <th><%= t('simple_form.labels.defaults.email') %></th>
    <th><%= t('simple_form.labels.defaults.username') %></th>
    <th><%= t('simple_form.labels.defaults.sign_in_count') %></th>
    <th><%= t('simple_form.labels.defaults.current_sign_in_at') %></th>


    <th>操作</th>
  </tr>
  </thead>


  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.nickname %></td>
        <td><%= user.mobile %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= user.current_sign_in_at.try(:strftime, '%Y-%m-%d %H:%M:%S') %></td>
        <td><%= link_to [:admin, user], title: '查看', class: 'btn btn-xs btn-warn' do %>
              <i class="icon-eye-open bigger-120"></i>
          <% end %>
          <%= link_to edit_admin_user_path(user), title: '编辑', class: 'btn btn-xs btn-info' do %>
              <i class="icon-edit bigger-120"></i>
          <% end %>
          <%= link_to [:admin, user], method: :delete, data: {confirm: '确认删除吗?'}, title: '删除', class: 'btn btn-xs btn-danger' do %>
              <i class="icon-trash bigger-120"></i>
          <% end %>

          </tr>
  <% end %>
  </tbody>
</table>

<nav>
  <%= paginate @users %>
</nav>

