<!DOCTYPE html>
<html>
<head>
  <title>豆姆文化 － 管理后台</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=false">
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/admin/css/bootstrap.css"/>
  <link rel="stylesheet" href="/admin/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/admin/css/jquery.gritter.css"/>
  <link rel="stylesheet" href="/admin/css/chosen.css"/>
  <link rel="stylesheet" href="/admin/css/ace.min.css"/>
  <link rel="stylesheet" href="/admin/css/ace-rtl.min.css"/>
  <link rel="stylesheet" href="/admin/css/ace-skins.min.css"/>
  <link rel="stylesheet" href="/admin/css/fixed.css"/>
  <link rel="stylesheet" href="/admin/css/datepicker.css"/>
  <link rel="stylesheet" href="/admin/css/bootstrap-timepicker.css"/>
  <link rel="stylesheet" href="/admin/css/jquery-ui-1.10.3.full.min.css"/>
</head>
<body>
<% if notice.present? %>
    <div id="notice"><%= notice %></div>
<% end %>
<% if alert.present? %>
    <div id="alert"><%= alert %></div>
<% end %>
<div class="navbar navbar-default" id="navbar">
  <div class="navbar-container" id="navbar-container">
    <div class="navbar-header pull-left">
      <a href="#" class="navbar-brand">
        <small><i class="icon-leaf"></i> 豆姆文化管理后台</small>
      </a>
    </div>
    <div class="navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        <li class="grey">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="icon-tasks"></i>
            <span class="badge badge-grey">4</span>
          </a>
        </li>
        <li class="purple">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="icon-bell-alt icon-animated-bell"></i>
            <span class="badge badge-important">8</span>
          </a>
        </li>

        <li class="green">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="icon-envelope icon-animated-vertical"></i>
            <span class="badge badge-success">5</span>
          </a>
        </li>
        <li class="light-blue">
          <a data-toggle="dropdown" href="#" class="dropdown-toggle" style="min-width: 112px">
            <span class="user-info">
                <small>欢迎登录</small>
              <%= @current_admin.job_number %><%= " - #{ @current_admin.name }" if @current_admin.name.present? %>
            </span>
            <i class="icon-caret-down"></i>
          </a>
          <ul class="dropdown-admin-layout user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close" style="min-width: 114px;right: -1px">
            <li>
              <a href="<%= change_password_admin_accounts_path %>">
                <i class="icon-cog"></i>
                修改密码
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <i class="icon-user"></i>
                个人信息
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to admin_account_path(@current_admin), method: :delete, data: {confirm: '确认退出吗？'}, title: '退出登录', class: '' do %>
                  <i class="icon-off"></i>
                  退出登录
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="main-container" id="main-container">
  <div class="main-container-inner">
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>

    <div class="sidebar" id="sidebar">
      <script type="text/javascript">
          try {
              ace.settings.check('sidebar', 'fixed')
          } catch (e) {
          }
      </script>
      <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
          <button class="btn btn-success">
            <i class="icon-signal"></i>
          </button>

          <button class="btn btn-info">
            <i class="icon-pencil"></i>
          </button>

          <button class="btn btn-warning">
            <i class="icon-group"></i>
          </button>

          <button class="btn btn-danger">
            <i class="icon-cogs"></i>
          </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
          <span class="btn btn-success"></span>

          <span class="btn btn-info"></span>

          <span class="btn btn-warning"></span>

          <span class="btn btn-danger"></span>
        </div>
      </div>
      <!-- #sidebar-shortcuts -->
      <ul class="nav nav-list">
        <li class="<%= params[:controller] == 'admin' ? 'active' : '' %>">
          <a href="<%= admin_path %>">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 首页 </span>
          </a>
        </li>
        <li class="<%= params[:controller] == 'admin/users' ? 'active' : '' %>">
          <a href="<%= admin_users_path %>">
            <i class="icon-user"></i>
            <span class="menu-text"> 用户 </span>
          </a>
        </li>
        <li class="<%= params[:controller] == 'admin/admins' ? 'active' : '' %>">
          <a href="<%= admin_admins_path %>">
            <i class="icon-gear"></i>
            <span class="menu-text"> 管理员 </span>
          </a>
        </li>
        <li class="<%= params[:controller] == 'admin/organizers' ? 'active' : '' %>">
          <a href="<%= admin_organizers_path %>">
            <i class="icon-bullhorn"></i>
            <span class="menu-text"> 单位 </span>
          </a>
        </li>
        <li class="<%= params[:controller] == 'admin/districts' ? 'active' : '' %>">
          <a href="<%= admin_districts_path %>">
            <i class="icon-bullhorn"></i>
            <span class="menu-text"> 区县 </span>
          </a>
        </li>
        <li class="<%= params[:controller] == 'admin/schedules' ? 'active' : '' %>">
          <a href="<%= admin_schedules_path %>">
            <i class="icon-calendar"></i>
            <span class="menu-text"> 赛程名 </span>
          </a>
        </li>
        <li class="<%= params[:controller] == 'admin/roles' ? 'active' : '' %>">
          <a href="<%= admin_roles_path %>">
            <i class="icon-leaf"></i>
            <span class="menu-text"> 角色 </span>
          </a>
        </li>
        <!--<li class="<%= params[:controller] == 'admin/referees' ? 'active' : '' %>">-->
        <!--<a href="<%= admin_referees_path %>">-->
        <!--<i class="icon-legal"></i>-->
        <!--<span class="menu-text"> 裁判 </span>-->
        <!--</a>-->
        <!--</li>-->
        <li class="<%= params[:controller] == 'admin/competitions' ? 'active' : '' %>">
          <a href="<%= admin_competitions_path %>">
            <i class="icon-beaker"></i>
            <span class="menu-text"> 比赛 </span>
          </a>
        </li>
        <li class="<%= params[:controller] == 'admin/events' ? 'active' : '' %>">
          <a href="<%= admin_events_path %>">
            <i class="icon-hand-right"></i>
            <span class="menu-text"> 项目 </span>
          </a>
        </li>
        <!--<li class="<%= params[:controller] == 'admin/teams' ? 'active' : '' %>">-->
        <!--<a href="<%= admin_teams_path %>">-->
        <!--<i class="icon-flag-alt"></i>-->
        <!--<span class="menu-text"> 队伍 </span>-->
        <!--</a>-->
        <!--</li>-->
        <li class="<%= params[:controller] == 'admin/creative_activities' ? 'active' : '' %>">
          <a href="<%= admin_creative_activities_path %>">
            <i class="icon-cogs"></i>
            <span class="menu-text"> 作品 </span>
          </a>
        </li>

        <!--<li class="<%= params[:controller] == 'admin/scores' ? 'active' : '' %>">-->
        <!--<a href="<%= admin_scores_path %>">-->
        <!--<i class="icon-bell"></i>-->
        <!--<span class="menu-text"> 成绩 </span>-->
        <!--</a>-->
        <!--</li>-->
        <li class="<%= params[:controller] == 'admin/news_types' ? 'active' : '' %>">
          <a href="<%= admin_news_types_path %>">
            <i class="icon-list"></i>
            <span class="menu-text"> 新闻类型 </span>
          </a>
        </li>
        <li class="<%= params[:controller] == 'admin/news' ? 'active' : '' %>">
          <a href="<%= admin_news_index_path %>">
            <i class="icon-comment-alt"></i>
            <span class="menu-text"> 新闻 </span>
          </a>
        </li>
      </ul>
      <!-- /.nav-list -->
      <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
      </div>
      <script type="text/javascript">
          try {
              ace.settings.check('sidebar', 'collapsed')
          } catch (e) {
          }
      </script>
    </div>
    <div class="main-content">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="icon-home home-icon"></i>
            <a href="/admin">首页</a>
          </li>
        </ul>
        <!-- .breadcrumb -->
      </div>
      <div class="page-content">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/admin/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/admin/js/bootstrap.js"></script>
<script type="text/javascript" src="/admin/js/ace-elements.min.js"></script>
<script type="text/javascript" src="/admin/js/ace-extra.min.js"></script>
<script type="text/javascript" src="/admin/js/ace.min.js"></script>
<script type="text/javascript" src="/admin/js/jquery_ujs.js"></script>
<script type="text/javascript" src="/admin/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/admin/js/jquery.gritter.min.js"></script>
<script type="text/javascript" src="/admin/js/admin-layout.js"></script>
<script type="text/javascript" src="/admin/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/admin/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="/admin/js/bootbox.js"></script>
<script type="text/javascript" src="/admin/js/admin.js"></script>
<script type="text/javascript" src="/admin/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/admin/js/jquery.nestable.min.js"></script>
<script type="text/javascript" src="/admin/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/admin/js/fuelux.tree.min.js"></script>
<!--<script type="text/javascript" src="/admin/js/jquery-ui-1.10.3.full.min.js"></script>-->
</body>
</html>
