<!DOCTYPE html>
<html>
<head>
  <title>豆姆文化</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<div id="footer" class="container-layer">
  <div class="container-content">
    <div class="contact col-l">
      <div class="contact-item">
        <i class="fa fa-qq"></i>
        1234567
      </div>
      <div class="contact-item">
        <i class="fa fa-weixin"></i>
        987654321
      </div>
      <div class="contact-item">
        <i class="fa fa-phone"></i>
        0210-112663536
      </div>
    </div>
    <div class="address col-r">
      <i class="fa fa-map-marker"></i>
      上海市 徐汇区 钦州北路68号B3栋101
    </div>
  </div>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% if flash.present? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        $.notify("<%= f[1] %>", "<%= f[0] %>");
        <% end %>
    </script>
<% end %>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay: 5000
    })
</script>
</body>
</html>
