<!DOCTYPE html>
<html>
<head>
  <title>豆姆文化</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    .user-ul li {
        float: left;
    }
  </style>
</head>
<body>
<div class="">
<% if user_signed_in? %>
      <ul style="list-style: none" class="user-ul">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.nickname %>
          </a>
          <ul class="dropdown-menu" role="menu">
            <%= render 'layouts/user_menu' %>
          </ul>
        </li>
        <!--<%= link_to current_user.nickname, edit_user_registration_path, :class => 'navbar-link' %>-->

        <li>|<%= link_to '退出', destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>

      </ul>

<% else %>
    <%= link_to '注册', new_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to '登录', new_user_session_path, :class => 'navbar-link' %>
<% end %>
</div>
<div class="clearfix"></div>
<%= yield %>


<% if flash.present? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        $.notify("<%= f[1] %>", "<%= f[0] %>");
        <% end %>
    </script>
<% end %>

</body>
</html>
