<!DOCTYPE html>
<html>
<head>
  <title>豆姆文化</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <style>
      .nav-li li:hover {
          background-color: lightseagreen;
      }
  </style>
</head>
<body>
<div class="">

  <div class="navbar-wrapper">
    <nav class="navbar navbar-default nav-custom navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-padding" href="/">豆姆文化</a>
          <!-- begin visible xs -->
          <% if user_signed_in? %>

            <span class="navbar-padding navbar-brand pull-right visible-xs btn" data-toggle="collapse" data-target="#navbar_user" aria-expanded="false" aria-controls="navbar">
              <span class="caret"></span>
            </span>
          <% else %>
              <a class="navbar-brand pull-right visible-xs navbar-padding" href="<%= new_user_registration_path %>">注册</a>
              <a class="navbar-brand pull-right visible-xs navbar-padding" href="<%= new_user_session_path %>">登录</a>

          <% end %>
          <!-- end visible xs -->
        </div>
        <!-- begin hidden xs -->
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.nickname %>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <%= render 'layouts/user_menu' %>
                </ul>
              </li>
              <li>
                <%= link_to '退出', destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
              </li>
          <% else %>
              <li><%= link_to '注册', new_user_registration_path, :class => 'navbar-link ' %></li>
              <li><%= link_to '登录', new_user_session_path, :class => 'navbar-link' %></li>
          <% end %>
        </ul>
        <!-- end hidden xs -->
        <!-- begin main menu -->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav nav-li">
            <li>
              <a href="<%= competition_path %>">比赛报名</a>
            </li>
            <li class="nav-divider"></li>
            <li>
              <a href="<%= creative_activities_path %>">创意活动</a>
            </li>
            <li>
              <a href="<%= '#' %>">关于豆姆</a>
            </li>

          </ul>
        </div>
        <!-- end main menu -->
        <!-- begin user menu visible xs -->
        <div id="navbar_user" class="navbar-collapse collapse">
          <ul class="nav navbar-nav visible-xs">
            <%= render 'layouts/user_menu' %>
          </ul>
        </div>
        <!-- end user menu -->
      </div>
    </nav>
  </div>

</div>
<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% if flash.present? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        $.notify("<%= f[1] %>", "<%= f[0] %>");
        <% end %>
    </script>
<% end %>

</body>
</html>
