<!DOCTYPE html>
<html>
<head>
  <title>豆姆科技 － 后台登陆</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=false">
  <link rel="stylesheet" href="/admin/css/bootstrap.css"/>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
  <%= notice %><%= alert %>
</p>
<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>