<!DOCTYPE html>
<html>
<head>
  <title>豆姆 － 后台登陆</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=false">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
  <%= notice %><%= alert %>
</p>
<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% if flash.present? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        $.notify("<%= f[1] %>", "<%= f[0] %>");
        <% end %>
    </script>
<% end %>
</body>
</html>