<div class="floor" id="register">
  <div id="nav" class="nav-v2 container-layer">
    <div class="container">
      <a href="/" class="logo-orange col-l"></a>

      <div class="nav-menu col-r">
        <ul class="items">
          <li class="item">
            <a href="/">首页</a>
          </li>
          <li class="item">
            <a href="<%= introduction_index_url%>">比赛</a>
          </li>
          <li class="item">
            <a href="">新闻</a>
          </li>
          <li class="item">
            <a href="">论坛</a>
          </li>
          <li class="item">
            <a href="">关于</a>
          </li>
          <li class="item">
            <a href="">联系</a>
          </li>
        </ul>
        <div class="login-menu col-r">
          <% if user_signed_in? %>
              <%= current_user.nickname %>
              <%= link_to destroy_user_session_path, method: :delete, data: {confirm: '确认退出登录吗?'}, title: '退出登录', :class => '' do %>
                  退出
              <% end %>
          <% else %>
              <%= link_to '注册', new_user_registration_path, :class => 'robodou-btn btn-register' %>
              <%= link_to '登录', new_user_session_path, :class => 'robodou-btn btn-login' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="register-content" class="">
    <div class="passport">
      <div class="passport-title t-22 text-center">
        重置密码
      </div>
      <div class="passport-content">
        <%= simple_form_for(@reset_password, url: reset_password_post_accounts_path, method: :post) do |f| %>
            <%= f.input :mobile, as: :tel, autofocus: true, placeholder: '您注册的手机号码', wrapper_html: {class: ''} %>
            <div class="field form-group">
              <label for="captcha" class="control-label">校验码：</label>

              <div class="clearfix"></div>
              <p class="pull-right" id="captcha-plus"><%= captcha_tag %> <span class="btn refresh-captcha">换一张</span>
              </p>

              <%= text_field_tag :captcha %>
            </div>
            <div>
              <%= f.input :mobile_code, as: :tel, placeholder: '输入验证码' %>
              <button type="button" data-key="reset_password" data-type="RESET_PASSWORD" id="btn_send_mobile_code" class="btn-get-code">获取验证码</button>
            </div>

            <%= f.input :password, placeholder: '请设置您的新密码  6-20位', wrapper_html: {class: ''} %>
            <div class="form-group form-group-lg">
              <%= f.submit class: 'btn-forget-confirm', value: '重置密码' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>