<div class="container">
  <h2 class="page-header">
    重置密码
  </h2>

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <%= simple_form_for(@reset_password, url: reset_password_post_accounts_path, method: :post) do |f| %>
          <%= f.input :mobile, as: :tel, autofocus: true, placeholder: '您注册的手机号码', wrapper_html: {class: ''} %>
          <div class="row">
            <%= f.input :mobile_code, as: :tel, placeholder: '输入验证码', wrapper_html: {class: 'col-md-6'} %>
            <div class="form-group tel required sing_up_mobile_code col-md-6">
              <label class="control-label hidden-xs">
                &nbsp;
              </label>
              <button type="button" data-key="reset_password" data-type="RESET_PASSWORD" id="btn_send_mobile_code" class="btn btn-default btn-block">获取验证码</button>
            </div>
          </div>

          <%= f.input :password, placeholder: '请设置您的新密码  6-20位', wrapper_html: {class: ''} %>
          <div class="form-group form-group-lg">
            <%= f.submit class: 'btn btn-danger btn-block', value: '重置密码' %>
          </div>
      <% end %>
    </div>
  </div>
</div>