<div class="floor" id="register">
  <div id="nav" class="nav-v2 container-layer">
    <%= render 'layouts/nav_menu' %>
  </div>
  <div id="register-content" class="">
    <div class="passport">
      <div class="passport-title t-22 text-center">
        注册
      </div>
      <div class="passport-content">
        <div class="t-14 text-right pull-down-10">没有邮箱？请用<a class="blue" href="/accounts/register">手机</a>注册</div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <div class="field form-group email-notice">
              <label for="user_email" class="control-label">邮箱</label>

              <%= f.input :email, placeholder: '请输入邮箱', class: 'form-control register-email' %>
              <!--<span id="require-email" class="require-error " style="right: 8px;bottom: 8px;position: absolute;color: darkred">必填</span>-->
            </div>
            <div class="email-exists hidden"><span id="" class="error" style=""></span><br/><br/></div>
            <!--<%= f.input :nickname, as: :tel, placeholder: '请输入昵称', wrapper_html: {class: ''} %>-->

            <div class="field form-group">
              <label for="user_nickname" class="control-label">昵称</label>
              <%= f.input :nickname, placeholder: '请输入昵称', class: 'form-control' %>
            </div>

            <div class="field form-group">
              <label for="user_password" class="control-label">密码</label>

              <%= f.input :password, placeholder: '请输入密码（6-20位）', autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="field form-group">

              <label for="user_password_confirmation" class="control-label">确认密码</label>
              <%= f.input :password_confirmation, placeholder: '请输入确认密码', autocomplete: "off", class: 'form-control' %>
            </div>


            <div class="field form-group">
              <% if request.post? %>
                  <p style="color: darkred">
                    <% unless valid_captcha?(params[:captcha]) %>
                        校验码不正确
                    <% end %>
                  </p>
              <% end %>
              <label for="captcha" class="control-label">校验码：</label>

              <div class="clearfix"></div>
              <p class="pull-right" id="captcha-plus"><%= captcha_tag %> <span class="btn refresh-captcha">换一张</span>
              </p>

              <%= text_field_tag :captcha %>
            </div>


            <div class="actions form-group form-group-lg">
              <%= f.submit class: 'btn-confirm-register', value: '立即注册' %>
            </div>
        <% end %>
        <p class="clearfix text-right">
          <a class="blue" href="<%= new_user_session_path %>">使用已有账户登录</a>
          <a class="blue pull-left" href="<%= new_confirmation_path(resource_name) %>">没收到激活邮件?</a>
        </p>
      </div>
    </div>

  </div>


  <!--<%= render "users/shared/links" %>-->
</div>
</div>
</div>
